@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
}

    /* Start hero section */

#hero{
    height:619px;
    background-image: url("../assets/image/Hero-bg.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    width: 940px;
}
#hero .hero-content .hero-img{
    text-align: center;
}
#hero .hero-content .hero-img img{
    height: 228px;
    width: 228px;
}
#hero .hero-content .title{
    color: rgb(13, 19, 33);
    font-family: "Work Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: center;
}
#hero .hero-content .description{
    color: rgb(13, 19, 33);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
#hero .hero-content .btn-container{
    text-align: center;
}
#hero .hero-content .btn{
    padding: 14px 18px;
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    border-radius:5px;
    background: rgb(13, 19, 33);
    border: none;
    cursor: pointer;
}

    /* Close hero section */

    /* start info section  */ 

#info{
    max-width: 1500px;
    min-height: 1130px;
    background-color: rgba(16, 19, 33, 0.02);
    margin: 50px auto;
    border-radius:15px;
    padding: 90px;
}
#info .btn{
    padding: 14px 18px;
    color: rgb(13, 19, 33);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    opacity: 0.7;
    cursor: pointer;
}
#info .container .heading{
   margin-bottom: 40px;
   padding: 0 15px;
}
#info .container .heading .title{
    color: rgb(13, 19, 33);
    font-family: "Work Sans", sans-serif;
    font-size: 36px;
    font-weight:600;
    line-height:55px;
    letter-spacing: 0%;
    text-align: center;
}
#info .container .heading .description{
    color: rgb(13, 19, 33);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight:400;
    line-height:24px;
    letter-spacing: 0%;
    text-align: center;
}
#info .container .info-one{
    display: flex;
    border-radius: 15px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255,255, 0) 100%);
    padding: 50px;
    margin-bottom: 20px;
}
#info .container .info-two{
    display: flex;
    border-radius: 15px;
    background:  linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 50px;
    margin-bottom: 20px;
}
#info .container .info-two .text{
    padding-left: 30px;
}
#info .container .info-three{
    display: flex;
    border-radius: 15px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255,255, 0) 100%);
    padding: 50px;
    margin-bottom: 20px;
}
.similar .text{
    width: 960px;
    text-align: left;
}
.similar .text .title{
    color: rgb(13, 19, 33);
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight:600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.similar .text .description{
    color: rgb(13, 19, 33);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight:400;
    line-height:24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.similar .img{
    margin: 0 auto;
}
.similar .img img{
    height: 225px;
}


    /* Close info section  */

    /* Start inspiration section  */

#inspiration{
    max-width: 1680px;
    margin: 50px auto;
}
#inspiration .container .text{
    margin-bottom: 40px;
    padding: 0 60px;
    
 }
 #inspiration .container .text .title{
     color: rgb(13, 19, 33);
     font-family: "Work Sans", sans-serif;
     font-size: 34px;
     font-weight:600;
     line-height:30px;
     letter-spacing: 0%;
     text-align: center;
     margin-bottom: 15px;
 }
 #inspiration .container .text .description{
     color: rgb(13, 19, 33);
     font-family: "Work Sans", sans-serif;
     font-size: 16px;
     font-weight:400;
     line-height:24px;
     letter-spacing: 0%;
     text-align: center;
     margin-bottom: 30px;

 }
 #inspiration .container .video iframe{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding:10px;
 }

    /* Close inspiration section  */

    /* Start current target section  */
 
#target{
    max-width: 1680px;
    margin: 50px auto;
    margin-top: 140px;
}
#target .container .text{
    margin-bottom: 60px;
    padding: 0 60px;
}
#target .container .text .title{
    color: rgb(13, 19, 33);
    font-family:"Work Sans", sans-serif;
    font-size: 34px;
    font-weight:600;
    line-height:30px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}
#target .container .text .description{
    color: rgb(13, 19, 33);
    font-family:"Work Sans", sans-serif;
    font-size: 16px;
    font-weight:400;
    line-height:24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}
#target .container .card-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#target .container .card-box .card{
    width:400px;
    min-height: 350px;
    border-radius: 15px;
    padding: 60px;
}
#target .container .card-box .card .img{
    margin-bottom: 20px;
    padding-left: 10px;
}
#target .container .card-box .card .title{
    color: rgb(13, 19, 33);
    font-family:"Work Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
#target .container .card-box .card .description{
    color: rgb(13, 19, 33);
    font-family:"Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
#target .container .card-box .card .btn{
    color: rgb(13, 19, 33);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
#target .card-box .one{
    background: rgba(255, 76, 30, 0.05);
}
#target .card-box .two{
    background: rgba(0, 76, 232, 0.05);
}
#target .card-box .three{
    background: rgba(255, 223, 0, 0.05);
}

    /* Close current target section  */

    /* Start next target section  */

#contact{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/image/handshake.jpg);
    height: 250px;
    width: 1500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    margin: 50px auto;
    border-radius: 15px;
    padding: 100px 95px;
}
#contact .container .text .title{
    color: rgb(255, 255, 255);
    font-family:"Work Sans", sans-serif;
    font-size: 36px;
    font-weight:600;
    line-height:30px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px 0;
}
#contact .container .text .description{
    color: rgb(255, 255, 255);
    font-family:"Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;
}
#contact .container .textarea{
    text-align: center;
}
#contact .container .textarea input[type="text"]{
    height: 40px;
    width: 500px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    margin-right: 15px;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
}
#contact .container .textarea .btn{
    padding: 21px 35px;
    color: rgb(13, 19, 33);
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    border-radius:5px;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
    /* Close contact section  */ 

    /* Start footer section  */

footer{
    height: 100px;
    background: rgba(16, 19, 33, 0.03);
    margin-top: 100px;
}
footer .container{
    width: 1680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}
footer .container .icon img{
    padding-left: 24px;
}

    /* Close footer Section  */